{% extends 'users/base.html' %}
{% block content %}
<h2 style="text-transform:capitalize">{{ user_type }} Dashboard</h2>
{% if show_welcome %}
  <p>Welcome, {{ request.user.username }}!</p>
{% endif %}

<a href="{% url 'logout' %}">Logout</a>
<h4>Your Profile</h4>
<ul>
    <li><strong>Name:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</li>
    <li><strong>Email:</strong> {{ request.user.email }}</li>
    <li><strong>Phone:</strong> {{ request.user.phone }}</li>
    <li><strong>Address:</strong> {{ request.user.address }}</li>
</ul>
<a href="{% url 'edit_profile' %}" class="btn btn-outline-primary mt-2">Edit Profile</a>
<a href="{% url 'password_change' %}" class="btn btn-warning mt-2">Change Password</a>
<a href="{% url 'view_orders' %}" class="btn btn-info mt-2">View My Orders</a>
<a href="{% url 'create_order' %}" class="btn btn-success mt-2">Place New Order</a>



{% endblock %}